.product-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.product-image{
  width: 100%;
  max-width: 30%;
  height: 100%;
}

.product-image-main{
  width: 100%;
  max-width: 390px;
  height: 390px;
  margin-bottom: 1rem;
}

.product-image .product-image-main img{ 
  border-radius: 10px;

}

.product-image-display{
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow: hidden;
  border-top: 1px solid var(--color-5);
  padding-top: 1rem;
}

.product-image-display img{
  max-width: 65px;
  border-radius: 10px;
}

.product-detail-order{
  width: 100%;  
  max-width: 60%;
}

.product-detail-title{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.product-order-info{
  display: flex;
  width: 100%;
  gap: 2rem;
  border-bottom: 1px solid var(--color-5);
  padding-top: 1rem; 
  padding-bottom: 3rem;
  align-items: flex-start;
}

.product-info-title{
  width: 100%;
  max-width: 50px;
  font-size: 12px;
  font-weight: 700;
  color: var(--color-5);
  text-transform: uppercase;
}

.product-info-price{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--price-color);
}

.product-item-title{
  font-size: 12px;
  font-weight: 700;
  color: var(--color-4);
  margin-bottom: 1rem;
}

.product-item-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.product-item-group input[type='radio']{
  display: none;
}

.select-item-btn{
  display: flex;
  width: 100%;
  height: 30px;
  padding: .25rem;
  font-size: 12px;
  color: var(--color-4);
  display: flex;
  align-items: center;
  border: 1px solid var(--color-5);
  border-radius: 8px;
  gap: .5rem;
  box-shadow: -1px 5px 12px -9px rgba(117,117,117,0.65);
  transition: all .15s ease-out;
  justify-content: center;
  cursor: pointer;
}

.product-item-group input[type='radio']:checked + .select-item-btn {
  border: 2px solid red;
}

.select-item-btn img{
  max-width: 30px;
  border-radius: 8px;
}

.product-add-cart{
  width: 100%;
  height: 10vh;
  border-radius: 16px 16px 0 0;
  position: fixed;
  bottom: 0;
  background-color: var(--color-1);
  box-shadow: 1px 8px 11px 11px rgba(117,117,117,0.3);
}

.add-cart-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 960px) {

  .product-detail-order{
    max-width: 50%;
  }

  .product-image{
    max-width: 30%;
  }

  .add-cart-container{
    justify-content: center;
  }
  
}

@media screen and (max-width: 768px) {
  .product-container{
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
  }

  .product-detail-order{
    max-width: 100%;
  }

  .product-image{
    max-width: 40%;
  }
  
}

@media screen and (max-width: 425px) {
  .product-image{
    max-width: 80%;
  }

  .product-item{
    margin-left: 1rem;
  }

  .product-item-group{
    margin-right: 1.5rem;
  }

  .product-image-display img{
    margin-right: .5rem;
  }
  
}